<html>
  <head>
    <title>Atlas Roadmap</title>
    <%= stylesheet_tag 'application' %>
    <script type="text/javascript">window.data = <%= @data %></script>
    <%= javascript_tag 'application' %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/"><span class="logo logo-white"></span> Roadmap</a>
      </div>
    </div>
    <div id="wrapper">
      <div class="calendar"></div>
    </div>

    <div id="releases">
      <h2>Releases</h2>
      <% @releases.each do |release| %>
      <div class="release">
        <h3><%= release.created_at.strftime("%B %d, %Y") %></h3>
        <h2><%= release.tag_name %> &mdash; <%= release.name %></h2>
        <h4><img class="avatar" src="<%= release.author.avatar_url %>"/> <%= release.author.login %></h4>
        <div><%= Kramdown::Document.new(release.body).to_html %></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
